//A. Everything below this to B is for the 15 Minute Appt check
                        String appointmentCheck = "SELECT * " +
                                                  "FROM appointments " +
                                                  "JOIN users ON appointments.User_ID = users.User_ID " +
                                                  "WHERE User_Name=? " +
                                                  "ORDER BY Start Desc " +
                                                  "LIMIT 1";
                        DBQuery.setPreparedStatement(JDBC.conn, appointmentCheck);
                        PreparedStatement ps2 = DBQuery.getPreparedStatement();
                        ps2.setString(1, "test");
                        ps2.execute ();
                        ResultSet rs2 = ps2.getResultSet();
                        String stringID;
                        java.sql.Date date;
                        java.sql.Time time;
                        if (rs2.next()) {
                            stringID = rs2.getString("Appointment_ID");
                            date = rs2.getDate("Start");
                            time = rs2.getTime("Start");
                            String stringDate = date.toString();
                            System.out.println(time);
                            String stringTime = time.toString();
                            String inputDate = stringDate + " " + stringTime;
                            if (DateTimeConverter.within15Min(inputDate) == true) {
                                if (language == ENGLISH){
                                    User.currentUser = userNameInput;
                                    String stringIDDateTime = " Appointment ID: " + stringID + " Appointment Date: " + stringDate + " Appointment Time: " + stringTime;
                                    model.Messages.messageOne(stringIDDateTime);
                                    root = FXMLLoader.load(getClass().getResource("/view/CustomerScreen.fxml"));
                                    stage = (Stage) ((Node) event.getSource()).getScene().getWindow();
                                    scene = new Scene(root);
                                    stage.setScene(scene);
                                    stage.show();
                                }
                                else{
                                    User.currentUser = userNameInput;
                                    String stringIDDateTime = " Identifiant de rendez-vous : " + stringID + " Date de rendez-vous: " + stringDate + " Heure du rendez-vous: " + stringTime;
                                    model.Messages.messageOneFrench(stringIDDateTime);
                                    root = FXMLLoader.load(getClass().getResource("/view/CustomerScreen.fxml"));
                                    stage = (Stage) ((Node) event.getSource()).getScene().getWindow();
                                    scene = new Scene(root);
                                    stage.setScene(scene);
                                    stage.show();
                                }

                            }
                            else {
                                User.currentUser = userNameInput;
                                root = FXMLLoader.load(getClass().getResource("/view/CustomerScreen.fxml"));
                                stage = (Stage) ((Node) event.getSource()).getScene().getWindow();
                                scene = new Scene(root);
                                stage.setScene(scene);
                                stage.show();

                            }
                        }
                        else {
                            User.currentUser = userNameInput;
                            root = FXMLLoader.load(getClass().getResource("/view/CustomerScreen.fxml"));
                            stage = (Stage) ((Node) event.getSource()).getScene().getWindow();
                            scene = new Scene(root);
                            stage.setScene(scene);
                            stage.show();
                        }
//B. Everything above this to A is for the 15 Minute Appt check

The db briver autoconverts timestamp ftom db to local time and from local to db for timestamp
remove all converters

input to DB as timestamp (make string then convert to timestamp)
